{
  "env": {
    "browser": true
  },
  "extends": "airbnb",
  "plugins": [
    "import"
  ],
  "rules": {
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore"
    }],
    "consistent-return": "off",
    "func-names": "off",
    "import/no-webpack-loader-syntax": "off",
    "no-param-reassign": ["error", { "props": false }],
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  }
}
